
<form (ngSubmit)="submit()" action="/api/transactions/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file" />
  <input class="btn btn-primary" type="submit" value="Upload File" />
</form>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Account</th>  
      <th>Date</th>  
      <th>Description</th>  
      <th class="text-right">Amount</th>  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let txn of transactions">
      <td></td>
      <td>{{txn.date|date:'dd/MM/yyyy'}}</td>
      <td>{{txn.description}}</td>
      <td class="text-right">{{txn.amount|currency:'USD'}}</td>
    </tr>
  </tbody>
</table>