<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="float-left">Income</div>
        <div class="float-right">$1200</div>
      </div>
      <ul class="list-group list-group-flush" style="padding-left: 30px">
        <li class="list-group-item">
          <div class="float-left">Salary</div>
          <div class="float-right">$1000</div>
        </li>
        <li class="list-group-item">
          <div class="float-left">Dividends</div>
          <div class="float-right">$200</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="float-left">Expenses</div>
        <div class="float-right">$1060</div>
      </div>
      <ul class="list-group list-group-flush" style="padding-left: 30px">
        <div class="card">
          <div class="card-header">
            <div class="float-left">Daily Expenses</div>
            <div class="float-right">$660</div>
          </div>
          <ul class="list-group list-group-flush" style="padding-left: 30px">
            <li class="list-group-item">
              <div class="float-left">Home Loan</div>
              <div class="float-right">$380</div>
            </li>
            <li class="list-group-item">
              <div class="float-left">Travel</div>
              <div class="float-right">$100</div>
            </li>
            <li class="list-group-item">
              <div class="float-left">Insurance</div>
              <div class="float-right">$180</div>
            </li>
          </ul>
        </div>
        
        <li class="list-group-item">
          <div class="float-left">Splurge</div>
          <div class="float-right">$100</div>
        </li>
        <li class="list-group-item">
          <div class="float-left">Smile</div>
          <div class="float-right">$100</div>
        </li>
        <li class="list-group-item">
          <div class="float-left">Fire Extinguisher</div>
          <div class="float-right">$200</div>
        </li>
      </ul>
    </div>
  </div>
</div>